body{
    background-color: rgba(103,190,103,1);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-inicio, .btn-registro{
    height:40px;
    width: 140px;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    border-radius: 2px;
}
.btn-inicio, .btn-entrar{
    background-color: rgb(28, 170, 61);
    border: 1px solid rgba(103,190,103,1);
    color: white;
}
.btn-registro, .btn-registrar{
    background-color: rgba(243,182,32,1);
    border: 1px solid rgb(219, 165, 29);
}
.btn-entrar, .btn-registrar{
    width: 80%;
    margin-top:20px;
    height: 40px;
}
main{ 
    width: 350px;
    background-color: white;
    height: auto;
    padding: 30px;
}
.form-inicio, .form-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs{
    padding-left: 10px;
    margin-top: 20px;
    height: 40px;
    width: 80%;
    border: none;
    background-color: rgb(241, 241, 241);
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.nav-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    padding-right: 10px;
}
.registro{
    margin-left: 10px;
}
.registro a{
    color: rgba(103,190,103,1);
    text-decoration: none;
}